body {
    background-color: rgb(169, 162, 40);
}
h1 {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    padding-left: 16px;
}
#myParagraph {
    color: red;
    font-family: "Kablammo";
    font-size: 24px;
    padding-left: 32px;
}
em {
    color: black
}
h2.center {
    text-align: center;
}
h3 {
    display: inline-block;
}
h2 {
    float: inherit;
}
ul.circle {
    list-style-type: circle;
}
ol {
    list-style-type: upper-roman;
}
input:focus {
    background-color: rgb(241, 226, 21);
}
a:active {
    background-color: rgb(11, 20, 153);
}
a:hover {
    background-color: rgb(189, 15, 148);
}
input[name="struka"]:hover {
    background-color: pink;
}
fieldset {
    background-color: rgb(11, 241, 34);
}